
.button{
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;    
}

.button p:hover{
        color: black;
}

.press :hover{
    background-color: yellow;
    border-radius: 30px;
}
/* Your CSS Code here. */